# Data review

현재 사업과 유사하면서 이전에 강원도에서 진행한 데이터가 있음  
이거를 바탕으로 데이터 분석 진행 

ai-hub에서 데이터를 받아서 사용  

> 강원도 한해성어류(연어,명태) 지능형양식 종합데이터 : https://aihub.or.kr/aihubdata/data/view.do?currMenu=115&topMenu=100&aihubDataSe=realm&dataSetSn=71321

In [1]:
import os
os.listdir('./')

['.ipynb_checkpoints',
 '연어 먹이공급관리데이터.csv',
 '연어 수질분석데이터.csv',
 'data_review.ipynb',
 '센서데이터_명태.csv',
 '명태 먹이공급관리데이터.csv',
 '명태 샘플링 실측데이터(길이,무게).csv',
 '명태 생물데이터(입식, 출하).xlsx',
 '센서데이터_연어.csv',
 '명태 폐사관리데이터.csv',
 '명태 수질분석데이터.csv',
 '연어 폐사관리데이터.csv',
 '연어 샘플링 실측데이터(길이,무게).csv',
 '연어 생물데이터(입식, 출하).csv']

### data veiw

각 데이터에 대해서 데이터가 어떻게 생긴지 확인

In [2]:
import pandas as pd
feed_data = pd.read_csv('연어 먹이공급관리데이터.csv')
feed_data

     수조번호  어종 생육상태      공급일자  먹이공급량(g)
0       3  연어   치어  20220729     500.0
1       4  연어   치어  20220729     500.0
2       9  연어  육성어  20220729     200.0
3      10  연어  육성어  20220729     300.0
4       3  연어   치어  20220730     500.0
..    ...  ..  ...       ...       ...
531    10  연어  육성어  20221209     725.0
532     3  연어   치어  20221210       NaN
533     4  연어   치어  20221210       NaN
534     9  연어  육성어  20221210     715.0
535    10  연어  육성어  20221210     728.0

[536 rows x 5 columns]

In [3]:
feed_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536 entries, 0 to 535
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   수조번호      536 non-null    int64
 1   어종        536 non-null    object
 2   생육상태      536 non-null    object
 3   공급일자      536 non-null    int64
 4   먹이공급량(g)  462 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 21.1+ KB

In [4]:
water_data = pd.read_csv('연어 수질분석데이터.csv')
water_data

,수조번호,어종,생육상태,측정일자,암모니아성질소(ppm),아질산성질소(ppm),질산성질소(ppm),알칼리도(ppm),총세균수(Bac),총가스압(%),Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,3,연어,치어,20220729,3,0.003,7.7,96.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,연어,치어,20220729,0,0.003,8.4,109.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9,연어,육성어,20220729,48,0.000,1.7,249.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10,연어,육성어,20220729,35,0.000,0.9,246.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,연어,치어,20220730,0,0.003,5.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,10,연어,육성어,20221209,1,0.025,0.9,171.0,1736.0,91.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
532,3,연어,치어,20221210,7,0.495,2.4,154.0,3049.0,96.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
533,4,연어,치어,20221210,8,0.446,2.6,132.0,2790.0,97.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
534,9,연어,육성어,20221210,4,0.024,1.0,187.0,1700.0,84.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
535,10,연어,육성어,20221210,1,0.023,0.8,189.0,1990.0,92.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
water_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536 entries, 0 to 535
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   수조번호          536 non-null    int64
 1   어종            536 non-null    object
 2   생육상태          536 non-null    object
 3   측정일자          536 non-null    int64
 4   암모니아성질소(ppm)  536 non-null    int64
 5   아질산성질소(ppm)   512 non-null    float64
 6   질산성질소(ppm)    536 non-null    float64
 7   알칼리도(ppm)     504 non-null    float64
 8   총세균수(Bac)     432 non-null    float64
 9   총가스압(%)       490 non-null    float64
 10  Unnamed: 10   0 non-null      float64
 11  Unnamed: 11   0 non-null      float64
 12  Unnamed: 12   0 non-null      float64
 13  Unnamed: 13   0 non-null      float64
 14  Unnamed: 14   0 non-null      float64
 15  Unnamed: 15   0 non-null      float64
 16  Unnamed: 16   0 non-null      float64
 17  Unnamed: 17   0 non-null      float64
dtypes: float64(13), int64(3), object(2)
memory usage: 75.5+ KB

In [6]:
sensor_data = pd.read_csv('센서데이터_연어.csv')
sensor_data

<ipython-input-6-670290fbe820>:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  sensor_data = pd.read_csv('센서데이터_연어.csv')

,date,수조,어종,구분,DO(mg/L),DO(%sat),Temp_Water(℃),pH(),co2(mg/l),ORP(mV),Light(Lux),FLOW(L),Temp_air,Unnamed: 13
0,2022-08-18 20:48,3,연어,치어,9.450360,89.361160,12.621643,NaN,1.407746,NaN,NaN,3.290392,NaN,NaN
1,2022-08-18 20:48,4,연어,치어,9.804455,92.745399,12.638672,NaN,1.458337,NaN,NaN,NaN,NaN,NaN
2,2022-08-18 20:48,10,연어,육성어,15.826371,145.768082,11.401337,NaN,2.785175,NaN,NaN,1.956120,NaN,NaN
3,2022-08-18 20:48,9,연어,육성어,18.706022,170.409851,10.954376,NaN,1.704050,NaN,71.373642,2.525798,NaN,NaN
4,2022-08-18 20:49,3,연어,치어,9.456373,89.423630,12.624390,NaN,1.408743,NaN,NaN,3.440392,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663215,2022-12-11 23:58,9,연어,육성어,14.380012,130.002777,11.397156,10.298978,0.001853,233.592957,119.588623,2.525367,-3.670799,NaN
663216,2022-12-11 23:59,4,연어,치어,10.013658,93.999023,13.099152,8.060614,0.528433,-24.084564,109.741664,3.416618,0.945236,NaN
663217,2022-12-11 23:59,3,연어,치어,10.368617,97.280937,13.076370,8.231939,0.454944,206.271422,166.271422,2.854651,0.945236,NaN
663218,2022-12-11 23:59,10,연어,육성어,13.293430,121.955627,NaN,8.161433,0.000000,285.151489,NaN,NaN,-3.749786,NaN
663219,2022-12-11 23:59,9,연어,육성어,14.436591,130.471008,NaN,10.218304,0.002966,234.056763,NaN,NaN,-3.749786,NaN

In [7]:
sensor_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 663220 entries, 0 to 663219
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   date           663220 non-null  object
 1   수조             663220 non-null  int64
 2   어종             663220 non-null  object
 3   구분             663220 non-null  object
 4   DO(mg/L)       590634 non-null  float64
 5   DO(%sat)       590634 non-null  float64
 6   Temp_Water(℃)  590632 non-null  float64
 7   pH()           582611 non-null  float64
 8   co2(mg/l)      590377 non-null  float64
 9   ORP(mV)        584930 non-null  float64
 10  Light(Lux)     593383 non-null  float64
 11  FLOW(L)        591143 non-null  float64
 12  Temp_air       594976 non-null  float64
 13  Unnamed: 13    1 non-null       object
dtypes: float64(9), int64(1), object(4)
memory usage: 70.8+ MB

In [8]:
die_data = pd.read_csv('연어 폐사관리데이터.csv')
die_data

     수조번호  어종 생육상태      측정일자  폐사개체수(마리)
0       3  연어   치어  20220729          1
1       3  연어   치어  20220730          2
2       3  연어   치어  20220731          1
3       3  연어   치어  20220801          2
4       3  연어   치어  20220802          0
..    ...  ..  ...       ...        ...
547    10  연어  육성어  20221206          0
548    10  연어  육성어  20221207          0
549    10  연어  육성어  20221208          0
550    10  연어  육성어  20221209          0
551    10  연어  육성어  20221210          0

[552 rows x 5 columns]

In [9]:
target_data = pd.read_csv('연어 샘플링 실측데이터(길이,무게).csv')
target_data

     수조번호  어종 생육상태      측정일자  어류번호  길이(mm)   무게(g)           관련파일명
0       3  연어   치어  20220812     1      90     6.2    3-1-20220812
1       3  연어   치어  20220812     2      85     5.5    3-2-20220812
2       3  연어   치어  20220812     3      85     6.4    3-3-20220812
3       3  연어   치어  20220812     4      65     2.2    3-4-20220812
4       3  연어   치어  20220812     5      85     5.3    3-5-20220812
..    ...  ..  ...       ...   ...     ...     ...             ...
795    10  연어  육성어  20221125    11     605  3495.0  10-11-20221125
796    10  연어  육성어  20221125    12     560  2435.0  10-12-20221125
797    10  연어  육성어  20221125    13     600  3198.0  10-13-20221125
798    10  연어  육성어  20221125    14     600  3000.0  10-14-20221125
799    10  연어  육성어  20221125    15     610  3250.0  10-15-20221125

[800 rows x 8 columns]

In [10]:
market_data = pd.read_csv('연어 생물데이터(입식, 출하).csv')
market_data

   수조번호  어종 생육상태  입출하  미수(마리)  총중량(kg)  평균중량(g)  평균길이(mm)
0     3  연어   치어    1   10000    40.00      4.0        74
1     4  연어   치어    1   10000    40.00      4.0        74
2     9  연어  육성어    1     107   164.03   1533.0       509
3    10  연어  육성어    1     107   160.29   1498.0       494
4     3  연어   치어    2    8662   138.59     16.0       105
5     4  연어   치어    2    8381   117.33     14.0       100
6     9  연어  육성어    2      59   146.47   2482.6       581
7    10  연어  육성어    2      89   212.75   2390.5       557

### preprocessing 

이 데이터도 개체별로 데이터를 측정한것이 아니라서 `시간` , `생육상태` 기준으로 groupby의 mean으로 해서 평균 데이터를 사용해서 데이터를 merge

In [11]:
feed_data

     수조번호  어종 생육상태      공급일자  먹이공급량(g)
0       3  연어   치어  20220729     500.0
1       4  연어   치어  20220729     500.0
2       9  연어  육성어  20220729     200.0
3      10  연어  육성어  20220729     300.0
4       3  연어   치어  20220730     500.0
..    ...  ..  ...       ...       ...
531    10  연어  육성어  20221209     725.0
532     3  연어   치어  20221210       NaN
533     4  연어   치어  20221210       NaN
534     9  연어  육성어  20221210     715.0
535    10  연어  육성어  20221210     728.0

[536 rows x 5 columns]

In [12]:
feed_data['공급일자'] = pd.to_datetime(feed_data['공급일자'], format='%Y%m%d')
feed_data.rename(columns={'공급일자': 'time'}, inplace=True)
feed_data

     수조번호  어종 생육상태       time  먹이공급량(g)
0       3  연어   치어 2022-07-29     500.0
1       4  연어   치어 2022-07-29     500.0
2       9  연어  육성어 2022-07-29     200.0
3      10  연어  육성어 2022-07-29     300.0
4       3  연어   치어 2022-07-30     500.0
..    ...  ..  ...        ...       ...
531    10  연어  육성어 2022-12-09     725.0
532     3  연어   치어 2022-12-10       NaN
533     4  연어   치어 2022-12-10       NaN
534     9  연어  육성어 2022-12-10     715.0
535    10  연어  육성어 2022-12-10     728.0

[536 rows x 5 columns]

In [13]:
group_feed_data = feed_data.groupby(['수조번호', 'time','생육상태']).mean()
group_feed_data.reset_index(inplace=True)
group_feed_data

<ipython-input-13-35f33d4010b8>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  group_feed_data = feed_data.groupby(['수조번호', 'time','생육상태']).mean()

     수조번호       time 생육상태  먹이공급량(g)
0       3 2022-07-29   치어     500.0
1       3 2022-07-30   치어     500.0
2       3 2022-07-31   치어    1160.0
3       3 2022-08-01   치어    1160.0
4       3 2022-08-02   치어    1160.0
..    ...        ...  ...       ...
531    10 2022-12-06  육성어    2610.0
532    10 2022-12-07  육성어     750.0
533    10 2022-12-08  육성어     775.0
534    10 2022-12-09  육성어     725.0
535    10 2022-12-10  육성어     728.0

[536 rows x 4 columns]

In [14]:
water_data = pd.read_csv('연어 수질분석데이터.csv')
water_data = water_data[water_data.columns[:10]]
water_data

,수조번호,어종,생육상태,측정일자,암모니아성질소(ppm),아질산성질소(ppm),질산성질소(ppm),알칼리도(ppm),총세균수(Bac),총가스압(%)
0,3,연어,치어,20220729,3,0.003,7.7,96.9,NaN,NaN
1,4,연어,치어,20220729,0,0.003,8.4,109.0,NaN,NaN
2,9,연어,육성어,20220729,48,0.000,1.7,249.0,NaN,NaN
3,10,연어,육성어,20220729,35,0.000,0.9,246.0,NaN,NaN
4,3,연어,치어,20220730,0,0.003,5.7,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
531,10,연어,육성어,20221209,1,0.025,0.9,171.0,1736.0,91.7
532,3,연어,치어,20221210,7,0.495,2.4,154.0,3049.0,96.4
533,4,연어,치어,20221210,8,0.446,2.6,132.0,2790.0,97.5
534,9,연어,육성어,20221210,4,0.024,1.0,187.0,1700.0,84.6
535,10,연어,육성어,20221210,1,0.023,0.8,189.0,1990.0,92.4

In [15]:
water_data['측정일자'] = pd.to_datetime(water_data['측정일자'], format='%Y%m%d')
water_data.rename(columns={'측정일자': 'time'}, inplace=True)
water_data

,수조번호,어종,생육상태,time,암모니아성질소(ppm),아질산성질소(ppm),질산성질소(ppm),알칼리도(ppm),총세균수(Bac),총가스압(%)
0,3,연어,치어,2022-07-29,3,0.003,7.7,96.9,NaN,NaN
1,4,연어,치어,2022-07-29,0,0.003,8.4,109.0,NaN,NaN
2,9,연어,육성어,2022-07-29,48,0.000,1.7,249.0,NaN,NaN
3,10,연어,육성어,2022-07-29,35,0.000,0.9,246.0,NaN,NaN
4,3,연어,치어,2022-07-30,0,0.003,5.7,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
531,10,연어,육성어,2022-12-09,1,0.025,0.9,171.0,1736.0,91.7
532,3,연어,치어,2022-12-10,7,0.495,2.4,154.0,3049.0,96.4
533,4,연어,치어,2022-12-10,8,0.446,2.6,132.0,2790.0,97.5
534,9,연어,육성어,2022-12-10,4,0.024,1.0,187.0,1700.0,84.6
535,10,연어,육성어,2022-12-10,1,0.023,0.8,189.0,1990.0,92.4

In [16]:
group_water_data = water_data.groupby(['수조번호', 'time','생육상태']).mean()
group_water_data.reset_index(inplace=True)
group_water_data

<ipython-input-16-a7197ad47550>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  group_water_data = water_data.groupby(['수조번호', 'time','생육상태']).mean()

,수조번호,time,생육상태,암모니아성질소(ppm),아질산성질소(ppm),질산성질소(ppm),알칼리도(ppm),총세균수(Bac),총가스압(%)
0,3,2022-07-29,치어,3.0,0.003,7.7,96.9,NaN,NaN
1,3,2022-07-30,치어,0.0,0.003,5.7,NaN,NaN,NaN
2,3,2022-07-31,치어,2.0,NaN,6.7,NaN,NaN,NaN
3,3,2022-08-01,치어,10.0,NaN,6.7,NaN,NaN,NaN
4,3,2022-08-02,치어,0.0,NaN,6.3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
531,10,2022-12-06,육성어,0.0,0.005,1.2,171.0,1389.0,83.6
532,10,2022-12-07,육성어,0.0,0.000,1.1,162.0,749.0,82.8
533,10,2022-12-08,육성어,0.0,0.003,1.2,159.0,1061.0,82.3
534,10,2022-12-09,육성어,1.0,0.025,0.9,171.0,1736.0,91.7
535,10,2022-12-10,육성어,1.0,0.023,0.8,189.0,1990.0,92.4

In [17]:
group_water_data[group_water_data['암모니아성질소(ppm)'].isnull()]

Empty DataFrame
Columns: [수조번호, time, 생육상태, 암모니아성질소(ppm), 아질산성질소(ppm), 질산성질소(ppm), 알칼리도(ppm), 총세균수(Bac), 총가스압(%)]
Index: []

In [18]:
group_water_data[group_water_data['아질산성질소(ppm)'].isnull()]

,수조번호,time,생육상태,암모니아성질소(ppm),아질산성질소(ppm),질산성질소(ppm),알칼리도(ppm),총세균수(Bac),총가스압(%)
2,3,2022-07-31,치어,2.0,NaN,6.7,NaN,NaN,NaN
3,3,2022-08-01,치어,10.0,NaN,6.7,NaN,NaN,NaN
4,3,2022-08-02,치어,0.0,NaN,6.3,NaN,NaN,NaN
5,3,2022-08-03,치어,0.0,NaN,6.4,NaN,NaN,NaN
6,3,2022-08-04,치어,1.0,NaN,6.9,NaN,NaN,NaN
7,3,2022-08-05,치어,0.0,NaN,7.8,NaN,NaN,NaN
136,4,2022-07-31,치어,0.0,NaN,8.2,NaN,NaN,NaN
137,4,2022-08-01,치어,0.0,NaN,7.1,NaN,NaN,NaN
138,4,2022-08-02,치어,0.0,NaN,0.6,NaN,NaN,NaN
139,4,2022-08-03,치어,1.0,NaN,5.4,NaN,NaN,NaN
140,4,2022-08-04,치어,1.0,NaN,6.5,NaN,NaN,NaN
141,4,2022-08-05,치어,0.0,NaN,6.9,NaN,NaN,NaN
270,9,2022-07-31,육성어,129.0,NaN,1.5,NaN,NaN,NaN
271,9,2022-08-01,육성어,90.0,NaN,1.2,NaN,NaN,NaN
272,9,2022-08-02,육성어,95.0,NaN,0.0,NaN,NaN,NaN
273,9,2022-08-03,육성어,81.0,NaN,1.9,NaN,NaN,NaN
274,9,2022-08-04,육성어,100.0,NaN,2.1,NaN,NaN,NaN
275,9,2022-08-05,육성어,6.0,NaN,2.3,NaN,NaN,NaN
404,10,2022-07-31,육성어,75.0,NaN,1.4,NaN,NaN,NaN
405,10,2022-08-01,육성어,70.0,NaN,1.1,NaN,NaN,NaN
406,10,2022-08-02,육성어,104.0,NaN,0.0,NaN,NaN,NaN
407,10,2022-08-03,육성어,94.0,NaN,1.5,NaN,NaN,NaN
408,10,2022-08-04,육성어,106.0,NaN,1.6,NaN,NaN,NaN
409,10,2022-08-05,육성어,44.0,NaN,1.7,NaN,NaN,NaN

In [19]:
group_water_data[group_water_data['질산성질소(ppm)'].isnull()]

Empty DataFrame
Columns: [수조번호, time, 생육상태, 암모니아성질소(ppm), 아질산성질소(ppm), 질산성질소(ppm), 알칼리도(ppm), 총세균수(Bac), 총가스압(%)]
Index: []

In [20]:
group_water_data[group_water_data['알칼리도(ppm)'].isnull()]

,수조번호,time,생육상태,암모니아성질소(ppm),아질산성질소(ppm),질산성질소(ppm),알칼리도(ppm),총세균수(Bac),총가스압(%)
1,3,2022-07-30,치어,0.0,0.003,5.7,NaN,NaN,NaN
2,3,2022-07-31,치어,2.0,NaN,6.7,NaN,NaN,NaN
3,3,2022-08-01,치어,10.0,NaN,6.7,NaN,NaN,NaN
4,3,2022-08-02,치어,0.0,NaN,6.3,NaN,NaN,NaN
5,3,2022-08-03,치어,0.0,NaN,6.4,NaN,NaN,NaN
6,3,2022-08-04,치어,1.0,NaN,6.9,NaN,NaN,NaN
7,3,2022-08-05,치어,0.0,NaN,7.8,NaN,NaN,NaN
8,3,2022-08-06,치어,0.0,0.003,96.0,NaN,NaN,NaN
135,4,2022-07-30,치어,0.0,0.000,7.1,NaN,NaN,NaN
136,4,2022-07-31,치어,0.0,NaN,8.2,NaN,NaN,NaN
137,4,2022-08-01,치어,0.0,NaN,7.1,NaN,NaN,NaN
138,4,2022-08-02,치어,0.0,NaN,0.6,NaN,NaN,NaN
139,4,2022-08-03,치어,1.0,NaN,5.4,NaN,NaN,NaN
140,4,2022-08-04,치어,1.0,NaN,6.5,NaN,NaN,NaN
141,4,2022-08-05,치어,0.0,NaN,6.9,NaN,NaN,NaN
142,4,2022-08-06,치어,0.0,0.002,109.0,NaN,NaN,NaN
269,9,2022-07-30,육성어,132.0,0.000,1.4,NaN,NaN,NaN
270,9,2022-07-31,육성어,129.0,NaN,1.5,NaN,NaN,NaN
271,9,2022-08-01,육성어,90.0,NaN,1.2,NaN,NaN,NaN
272,9,2022-08-02,육성어,95.0,NaN,0.0,NaN,NaN,NaN
273,9,2022-08-03,육성어,81.0,NaN,1.9,NaN,NaN,NaN
274,9,2022-08-04,육성어,100.0,NaN,2.1,NaN,NaN,NaN
275,9,2022-08-05,육성어,6.0,NaN,2.3,NaN,NaN,NaN
276,9,2022-08-06,육성어,96.0,0.000,247.0,NaN,NaN,NaN
403,10,2022-07-30,육성어,95.0,0.000,1.5,NaN,NaN,NaN
404,10,2022-07-31,육성어,75.0,NaN,1.4,NaN,NaN,NaN
405,10,2022-08-01,육성어,70.0,NaN,1.1,NaN,NaN,NaN
406,10,2022-08-02,육성어,104.0,NaN,0.0,NaN,NaN,NaN
407,10,2022-08-03,육성어,94.0,NaN,1.5,NaN,NaN,NaN
408,10,2022-08-04,육성어,106.0,NaN,1.6,NaN,NaN,NaN
409,10,2022-08-05,육성어,44.0,NaN,1.7,NaN,NaN,NaN
410,10,2022-08-06,육성어,103.0,0.000,242.0,NaN,NaN,NaN

* 결측치 처리가 애매해서 megre 이후에 날릴 예정

In [21]:
sensor_data = pd.read_csv('센서데이터_연어.csv')
sensor_data

<ipython-input-21-670290fbe820>:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  sensor_data = pd.read_csv('센서데이터_연어.csv')

,date,수조,어종,구분,DO(mg/L),DO(%sat),Temp_Water(℃),pH(),co2(mg/l),ORP(mV),Light(Lux),FLOW(L),Temp_air,Unnamed: 13
0,2022-08-18 20:48,3,연어,치어,9.450360,89.361160,12.621643,NaN,1.407746,NaN,NaN,3.290392,NaN,NaN
1,2022-08-18 20:48,4,연어,치어,9.804455,92.745399,12.638672,NaN,1.458337,NaN,NaN,NaN,NaN,NaN
2,2022-08-18 20:48,10,연어,육성어,15.826371,145.768082,11.401337,NaN,2.785175,NaN,NaN,1.956120,NaN,NaN
3,2022-08-18 20:48,9,연어,육성어,18.706022,170.409851,10.954376,NaN,1.704050,NaN,71.373642,2.525798,NaN,NaN
4,2022-08-18 20:49,3,연어,치어,9.456373,89.423630,12.624390,NaN,1.408743,NaN,NaN,3.440392,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663215,2022-12-11 23:58,9,연어,육성어,14.380012,130.002777,11.397156,10.298978,0.001853,233.592957,119.588623,2.525367,-3.670799,NaN
663216,2022-12-11 23:59,4,연어,치어,10.013658,93.999023,13.099152,8.060614,0.528433,-24.084564,109.741664,3.416618,0.945236,NaN
663217,2022-12-11 23:59,3,연어,치어,10.368617,97.280937,13.076370,8.231939,0.454944,206.271422,166.271422,2.854651,0.945236,NaN
663218,2022-12-11 23:59,10,연어,육성어,13.293430,121.955627,NaN,8.161433,0.000000,285.151489,NaN,NaN,-3.749786,NaN
663219,2022-12-11 23:59,9,연어,육성어,14.436591,130.471008,NaN,10.218304,0.002966,234.056763,NaN,NaN,-3.749786,NaN

In [22]:
import pandas as pd

sensor_data['date'] = pd.to_datetime(sensor_data['date']).dt.date
sensor_data['date'] = pd.to_datetime(sensor_data['date'] , format='%Y-%m-%d')
sensor_data.rename(columns={'date': 'time'}, inplace=True)
sensor_data.rename(columns={'수조': '수조번호'}, inplace=True)
sensor_data.rename(columns={'구분': '생육상태'}, inplace=True)


grouped_sensor_data = sensor_data.groupby(['time', '수조번호', '생육상태']).mean().reset_index()
grouped_sensor_data

<ipython-input-22-1e4fb2587df9>:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_sensor_data = sensor_data.groupby(['time', '수조번호', '생육상태']).mean().reset_index()

,time,수조번호,생육상태,DO(mg/L),DO(%sat),Temp_Water(℃),pH(),co2(mg/l),ORP(mV),Light(Lux),FLOW(L),Temp_air
0,2022-08-18,3,치어,9.411935,89.088844,12.641994,7.092507,1.402085,195.961149,165.771227,3.347095,22.186630
1,2022-08-18,4,치어,9.774218,92.552879,12.658598,7.108404,1.450640,150.369346,151.371786,4.406251,22.186630
2,2022-08-18,9,육성어,20.478002,186.698198,10.954861,NaN,1.700845,NaN,111.106273,2.522717,19.058330
3,2022-08-18,10,육성어,15.362704,141.525110,11.400000,NaN,2.421053,NaN,NaN,1.951225,19.058330
4,2022-08-19,3,치어,9.292370,88.420828,12.652122,7.110626,1.427540,196.827502,165.387858,3.330783,22.612828
...,...,...,...,...,...,...,...,...,...,...,...,...
459,2022-12-10,10,육성어,13.574848,123.035831,11.287897,8.134891,0.000000,274.586019,137.716244,2.331463,-3.168661
460,2022-12-11,3,치어,10.297094,96.728267,13.030432,8.198447,0.524436,197.063323,164.691239,2.774897,4.087542
461,2022-12-11,4,치어,9.178829,83.922834,12.366772,8.058355,0.637189,-21.848531,119.001240,3.535220,4.087542
462,2022-12-11,9,육성어,14.190129,127.588735,11.068130,9.286151,0.161786,225.609123,150.055866,2.525285,-2.603189
463,2022-12-11,10,육성어,13.688225,124.932636,11.709219,8.129945,0.000000,277.026650,140.036191,2.338353,-2.603189

In [23]:
grouped_sensor_data[grouped_sensor_data['FLOW(L)'].isnull()]

,time,수조번호,생육상태,DO(mg/L),DO(%sat),Temp_Water(℃),pH(),co2(mg/l),ORP(mV),Light(Lux),FLOW(L),Temp_air
12,2022-08-21,3,치어,9.318733,88.106433,12.599104,6.895299,1.503039,196.721916,165.238454,NaN,18.749262
44,2022-08-29,3,치어,9.109554,85.336296,12.622200,6.855815,2.058308,196.851117,165.442067,NaN,20.709577
366,2022-11-17,9,육성어,15.972262,140.896636,10.255858,24.324066,0.956119,297.825208,7.276589,NaN,4.037690
392,2022-11-24,3,치어,19.032536,178.629560,12.874293,7.725915,1.902807,197.190511,164.464693,NaN,8.546400
446,2022-12-07,9,육성어,14.323730,126.520941,10.152307,NaN,NaN,NaN,NaN,NaN,-3.759341
447,2022-12-07,10,육성어,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.759341

In [24]:
grouped_sensor_data[grouped_sensor_data['Temp_air'].isnull()]

,time,수조번호,생육상태,DO(mg/L),DO(%sat),Temp_Water(℃),pH(),co2(mg/l),ORP(mV),Light(Lux),FLOW(L),Temp_air
10,2022-08-20,9,육성어,17.657432,164.046488,11.639706,7.904646,1.510581,366.434646,124.897230,2.522686,NaN
11,2022-08-20,10,육성어,15.313314,143.877889,12.121960,7.700626,0.286931,359.454455,151.567952,1.945247,NaN
14,2022-08-21,9,육성어,17.051409,160.058108,12.246129,7.889324,1.580424,363.599899,127.362800,2.522745,NaN
15,2022-08-21,10,육성어,15.726496,149.480848,12.776997,7.707174,0.432218,353.453257,144.881685,1.952486,NaN
16,2022-08-22,3,치어,9.352974,88.717334,12.610990,6.793135,1.565700,196.748618,165.084733,3.341026,NaN
17,2022-08-22,4,치어,9.657659,91.638291,12.635530,6.789024,1.659893,161.734247,152.637285,14.907589,NaN
18,2022-08-22,9,육성어,17.716789,163.568544,11.379305,7.893985,1.513178,367.415855,126.072126,2.522699,NaN
19,2022-08-22,10,육성어,14.972870,139.968497,11.880876,7.724879,0.003137,358.063475,145.626616,1.940078,NaN
416,2022-11-30,3,치어,10.634191,99.298613,12.938091,8.219072,1.020524,197.017452,164.630483,2.766634,NaN
417,2022-11-30,4,치어,10.207110,95.371066,12.966102,7.851124,0.799329,-13.329599,124.350370,3.516550,NaN

* 결측치의 양이 적어서 tft에서 allow_missint_step으로 처리

In [25]:
die_data = pd.read_csv('연어 폐사관리데이터.csv')
die_data

     수조번호  어종 생육상태      측정일자  폐사개체수(마리)
0       3  연어   치어  20220729          1
1       3  연어   치어  20220730          2
2       3  연어   치어  20220731          1
3       3  연어   치어  20220801          2
4       3  연어   치어  20220802          0
..    ...  ..  ...       ...        ...
547    10  연어  육성어  20221206          0
548    10  연어  육성어  20221207          0
549    10  연어  육성어  20221208          0
550    10  연어  육성어  20221209          0
551    10  연어  육성어  20221210          0

[552 rows x 5 columns]

In [26]:
die_data['측정일자'] = pd.to_datetime(die_data['측정일자'], format='%Y%m%d')
die_data.rename(columns={'측정일자': 'time'}, inplace=True)
die_data

     수조번호  어종 생육상태       time  폐사개체수(마리)
0       3  연어   치어 2022-07-29          1
1       3  연어   치어 2022-07-30          2
2       3  연어   치어 2022-07-31          1
3       3  연어   치어 2022-08-01          2
4       3  연어   치어 2022-08-02          0
..    ...  ..  ...        ...        ...
547    10  연어  육성어 2022-12-06          0
548    10  연어  육성어 2022-12-07          0
549    10  연어  육성어 2022-12-08          0
550    10  연어  육성어 2022-12-09          0
551    10  연어  육성어 2022-12-10          0

[552 rows x 5 columns]

In [27]:
group_die_data = die_data.groupby(['수조번호', 'time','생육상태']).mean()
group_die_data.reset_index(inplace=True)
group_die_data

<ipython-input-27-93858b9e77e3>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  group_die_data = die_data.groupby(['수조번호', 'time','생육상태']).mean()

     수조번호       time 생육상태  폐사개체수(마리)
0       3 2022-07-29   치어        1.0
1       3 2022-07-30   치어        2.0
2       3 2022-07-31   치어        1.0
3       3 2022-08-01   치어        2.0
4       3 2022-08-02   치어        0.0
..    ...        ...  ...        ...
531    10 2022-12-06  육성어        0.0
532    10 2022-12-07  육성어        0.0
533    10 2022-12-08  육성어        0.0
534    10 2022-12-09  육성어        0.0
535    10 2022-12-10  육성어        0.0

[536 rows x 4 columns]

In [28]:
target_data = pd.read_csv('연어 샘플링 실측데이터(길이,무게).csv')
target_data

     수조번호  어종 생육상태      측정일자  어류번호  길이(mm)   무게(g)           관련파일명
0       3  연어   치어  20220812     1      90     6.2    3-1-20220812
1       3  연어   치어  20220812     2      85     5.5    3-2-20220812
2       3  연어   치어  20220812     3      85     6.4    3-3-20220812
3       3  연어   치어  20220812     4      65     2.2    3-4-20220812
4       3  연어   치어  20220812     5      85     5.3    3-5-20220812
..    ...  ..  ...       ...   ...     ...     ...             ...
795    10  연어  육성어  20221125    11     605  3495.0  10-11-20221125
796    10  연어  육성어  20221125    12     560  2435.0  10-12-20221125
797    10  연어  육성어  20221125    13     600  3198.0  10-13-20221125
798    10  연어  육성어  20221125    14     600  3000.0  10-14-20221125
799    10  연어  육성어  20221125    15     610  3250.0  10-15-20221125

[800 rows x 8 columns]

In [29]:
target_data['측정일자'] = pd.to_datetime(target_data['측정일자'], format='%Y%m%d')
target_data.rename(columns={'측정일자': 'time'}, inplace=True)
target_data

     수조번호  어종 생육상태       time  어류번호  길이(mm)   무게(g)           관련파일명
0       3  연어   치어 2022-08-12     1      90     6.2    3-1-20220812
1       3  연어   치어 2022-08-12     2      85     5.5    3-2-20220812
2       3  연어   치어 2022-08-12     3      85     6.4    3-3-20220812
3       3  연어   치어 2022-08-12     4      65     2.2    3-4-20220812
4       3  연어   치어 2022-08-12     5      85     5.3    3-5-20220812
..    ...  ..  ...        ...   ...     ...     ...             ...
795    10  연어  육성어 2022-11-25    11     605  3495.0  10-11-20221125
796    10  연어  육성어 2022-11-25    12     560  2435.0  10-12-20221125
797    10  연어  육성어 2022-11-25    13     600  3198.0  10-13-20221125
798    10  연어  육성어 2022-11-25    14     600  3000.0  10-14-20221125
799    10  연어  육성어 2022-11-25    15     610  3250.0  10-15-20221125

[800 rows x 8 columns]

In [30]:
group_target_data = target_data.groupby(['수조번호', 'time','생육상태']).mean()
group_target_data.reset_index(inplace=True)
group_target_data

<ipython-input-30-88e3314d6349>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  group_target_data = target_data.groupby(['수조번호', 'time','생육상태']).mean()

    수조번호       time 생육상태       어류번호      길이(mm)        무게(g)
0      3 2022-08-12   치어  25.500000   75.820000     4.050000
1      3 2022-09-02   치어  25.125000   85.208333     6.391667
2      3 2022-09-23   치어  25.500000   99.000000     8.560000
3      3 2022-10-14   치어  25.500000  108.600000    16.380000
4      3 2022-11-04   치어  25.500000  110.400000    17.920000
5      3 2022-11-25   치어  40.846154  113.717949    17.038462
6      4 2022-08-12   치어  25.500000   74.740000     3.716000
7      4 2022-09-02   치어  25.500000   79.780000     5.352000
8      4 2022-09-23   치어  25.500000  100.500000     8.960000
9      4 2022-10-14   치어  25.500000  104.200000    14.940000
10     4 2022-11-04   치어  25.500000  104.900000    14.920000
11     4 2022-11-25   치어  43.476190  103.988095    14.047619
12     9 2022-08-12  육성어   5.500000  500.000000  2329.800000
13     9 2022-09-02  육성어   5.500000  494.000000  1491.800000
14     9 2022-09-23  육성어   5.500000  513.000000  1807.000000
15     9 2022-10-14  육성어   5.500000  564.000000          NaN
16     9 2022-11-11  육성어   8.000000  554.000000  2143.066667
17     9 2022-11-25  육성어   8.000000  575.000000  2516.266667
18    10 2022-08-12  육성어   5.500000  519.000000  1795.200000
19    10 2022-09-02  육성어   5.500000  510.000000  1560.000000
20    10 2022-09-23  육성어   5.500000  504.000000  1760.800000
21    10 2022-10-14  육성어   5.500000  572.000000          NaN
22    10 2022-11-11  육성어   8.000000  568.666667  2438.866667
23    10 2022-11-25  육성어   8.000000  587.666667  2810.400000

### merge
앞에서 전처리한 dataframe들을 합침

In [31]:
group_feed_data

     수조번호       time 생육상태  먹이공급량(g)
0       3 2022-07-29   치어     500.0
1       3 2022-07-30   치어     500.0
2       3 2022-07-31   치어    1160.0
3       3 2022-08-01   치어    1160.0
4       3 2022-08-02   치어    1160.0
..    ...        ...  ...       ...
531    10 2022-12-06  육성어    2610.0
532    10 2022-12-07  육성어     750.0
533    10 2022-12-08  육성어     775.0
534    10 2022-12-09  육성어     725.0
535    10 2022-12-10  육성어     728.0

[536 rows x 4 columns]

In [32]:
group_water_data

,수조번호,time,생육상태,암모니아성질소(ppm),아질산성질소(ppm),질산성질소(ppm),알칼리도(ppm),총세균수(Bac),총가스압(%)
0,3,2022-07-29,치어,3.0,0.003,7.7,96.9,NaN,NaN
1,3,2022-07-30,치어,0.0,0.003,5.7,NaN,NaN,NaN
2,3,2022-07-31,치어,2.0,NaN,6.7,NaN,NaN,NaN
3,3,2022-08-01,치어,10.0,NaN,6.7,NaN,NaN,NaN
4,3,2022-08-02,치어,0.0,NaN,6.3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
531,10,2022-12-06,육성어,0.0,0.005,1.2,171.0,1389.0,83.6
532,10,2022-12-07,육성어,0.0,0.000,1.1,162.0,749.0,82.8
533,10,2022-12-08,육성어,0.0,0.003,1.2,159.0,1061.0,82.3
534,10,2022-12-09,육성어,1.0,0.025,0.9,171.0,1736.0,91.7
535,10,2022-12-10,육성어,1.0,0.023,0.8,189.0,1990.0,92.4

In [33]:
merged_df = pd.merge(group_feed_data, group_water_data, 
                     on=['time', '수조번호', '생육상태'], how='inner')
merged_df

,수조번호,time,생육상태,먹이공급량(g),암모니아성질소(ppm),아질산성질소(ppm),질산성질소(ppm),알칼리도(ppm),총세균수(Bac),총가스압(%)
0,3,2022-07-29,치어,500.0,3.0,0.003,7.7,96.9,NaN,NaN
1,3,2022-07-30,치어,500.0,0.0,0.003,5.7,NaN,NaN,NaN
2,3,2022-07-31,치어,1160.0,2.0,NaN,6.7,NaN,NaN,NaN
3,3,2022-08-01,치어,1160.0,10.0,NaN,6.7,NaN,NaN,NaN
4,3,2022-08-02,치어,1160.0,0.0,NaN,6.3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
531,10,2022-12-06,육성어,2610.0,0.0,0.005,1.2,171.0,1389.0,83.6
532,10,2022-12-07,육성어,750.0,0.0,0.000,1.1,162.0,749.0,82.8
533,10,2022-12-08,육성어,775.0,0.0,0.003,1.2,159.0,1061.0,82.3
534,10,2022-12-09,육성어,725.0,1.0,0.025,0.9,171.0,1736.0,91.7
535,10,2022-12-10,육성어,728.0,1.0,0.023,0.8,189.0,1990.0,92.4

In [34]:
grouped_sensor_data

,time,수조번호,생육상태,DO(mg/L),DO(%sat),Temp_Water(℃),pH(),co2(mg/l),ORP(mV),Light(Lux),FLOW(L),Temp_air
0,2022-08-18,3,치어,9.411935,89.088844,12.641994,7.092507,1.402085,195.961149,165.771227,3.347095,22.186630
1,2022-08-18,4,치어,9.774218,92.552879,12.658598,7.108404,1.450640,150.369346,151.371786,4.406251,22.186630
2,2022-08-18,9,육성어,20.478002,186.698198,10.954861,NaN,1.700845,NaN,111.106273,2.522717,19.058330
3,2022-08-18,10,육성어,15.362704,141.525110,11.400000,NaN,2.421053,NaN,NaN,1.951225,19.058330
4,2022-08-19,3,치어,9.292370,88.420828,12.652122,7.110626,1.427540,196.827502,165.387858,3.330783,22.612828
...,...,...,...,...,...,...,...,...,...,...,...,...
459,2022-12-10,10,육성어,13.574848,123.035831,11.287897,8.134891,0.000000,274.586019,137.716244,2.331463,-3.168661
460,2022-12-11,3,치어,10.297094,96.728267,13.030432,8.198447,0.524436,197.063323,164.691239,2.774897,4.087542
461,2022-12-11,4,치어,9.178829,83.922834,12.366772,8.058355,0.637189,-21.848531,119.001240,3.535220,4.087542
462,2022-12-11,9,육성어,14.190129,127.588735,11.068130,9.286151,0.161786,225.609123,150.055866,2.525285,-2.603189
463,2022-12-11,10,육성어,13.688225,124.932636,11.709219,8.129945,0.000000,277.026650,140.036191,2.338353,-2.603189

In [35]:
merged_df = pd.merge(merged_df, grouped_sensor_data, 
                     on=['time', '수조번호', '생육상태'], how='inner')
merged_df

,수조번호,time,생육상태,먹이공급량(g),암모니아성질소(ppm),아질산성질소(ppm),질산성질소(ppm),알칼리도(ppm),총세균수(Bac),총가스압(%),DO(mg/L),DO(%sat),Temp_Water(℃),pH(),co2(mg/l),ORP(mV),Light(Lux),FLOW(L),Temp_air
0,3,2022-08-18,치어,1740.0,1.0,0.015,4.1,12.8,NaN,96.8,9.411935,89.088844,12.641994,7.092507,1.402085,195.961149,165.771227,3.347095,22.186630
1,3,2022-08-19,치어,1740.0,0.0,0.018,7.8,33.1,NaN,95.8,9.292370,88.420828,12.652122,7.110626,1.427540,196.827502,165.387858,3.330783,22.612828
2,3,2022-08-20,치어,1740.0,0.0,0.016,5.7,22.4,NaN,96.8,9.279618,88.141707,12.661084,7.021480,1.500659,197.021544,165.291223,3.332105,22.453519
3,3,2022-08-21,치어,1740.0,0.0,0.015,6.4,25.7,NaN,94.6,9.318733,88.106433,12.599104,6.895299,1.503039,196.721916,165.238454,NaN,18.749262
4,3,2022-08-22,치어,1740.0,8.0,0.025,4.6,24.0,NaN,97.0,9.352974,88.717334,12.610990,6.793135,1.565700,196.748618,165.084733,3.341026,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,10,2022-12-06,육성어,2610.0,0.0,0.005,1.2,171.0,1389.0,83.6,14.175252,125.739903,10.417007,8.096200,0.000000,310.222265,147.085597,2.335544,-6.000187
452,10,2022-12-07,육성어,750.0,0.0,0.000,1.1,162.0,749.0,82.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.759341
453,10,2022-12-08,육성어,775.0,0.0,0.003,1.2,159.0,1061.0,82.3,13.731272,122.982504,10.948205,8.118849,0.000000,273.851663,142.727374,2.323635,-2.546405
454,10,2022-12-09,육성어,725.0,1.0,0.025,0.9,171.0,1736.0,91.7,13.251944,120.732091,11.573005,8.098277,0.000000,275.792808,143.051892,2.321351,-2.222187
455,10,2022-12-10,육성어,728.0,1.0,0.023,0.8,189.0,1990.0,92.4,13.574848,123.035831,11.287897,8.134891,0.000000,274.586019,137.716244,2.331463,-3.168661

In [36]:
merged_df = pd.merge(merged_df, group_die_data, 
                     on=['time', '수조번호', '생육상태'], how='inner')
merged_df

,수조번호,time,생육상태,먹이공급량(g),암모니아성질소(ppm),아질산성질소(ppm),질산성질소(ppm),알칼리도(ppm),총세균수(Bac),총가스압(%),DO(mg/L),DO(%sat),Temp_Water(℃),pH(),co2(mg/l),ORP(mV),Light(Lux),FLOW(L),Temp_air,폐사개체수(마리)
0,3,2022-08-18,치어,1740.0,1.0,0.015,4.1,12.8,NaN,96.8,9.411935,89.088844,12.641994,7.092507,1.402085,195.961149,165.771227,3.347095,22.186630,5.0
1,3,2022-08-19,치어,1740.0,0.0,0.018,7.8,33.1,NaN,95.8,9.292370,88.420828,12.652122,7.110626,1.427540,196.827502,165.387858,3.330783,22.612828,67.0
2,3,2022-08-20,치어,1740.0,0.0,0.016,5.7,22.4,NaN,96.8,9.279618,88.141707,12.661084,7.021480,1.500659,197.021544,165.291223,3.332105,22.453519,0.0
3,3,2022-08-21,치어,1740.0,0.0,0.015,6.4,25.7,NaN,94.6,9.318733,88.106433,12.599104,6.895299,1.503039,196.721916,165.238454,NaN,18.749262,0.0
4,3,2022-08-22,치어,1740.0,8.0,0.025,4.6,24.0,NaN,97.0,9.352974,88.717334,12.610990,6.793135,1.565700,196.748618,165.084733,3.341026,NaN,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,10,2022-12-06,육성어,2610.0,0.0,0.005,1.2,171.0,1389.0,83.6,14.175252,125.739903,10.417007,8.096200,0.000000,310.222265,147.085597,2.335544,-6.000187,0.0
452,10,2022-12-07,육성어,750.0,0.0,0.000,1.1,162.0,749.0,82.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.759341,0.0
453,10,2022-12-08,육성어,775.0,0.0,0.003,1.2,159.0,1061.0,82.3,13.731272,122.982504,10.948205,8.118849,0.000000,273.851663,142.727374,2.323635,-2.546405,0.0
454,10,2022-12-09,육성어,725.0,1.0,0.025,0.9,171.0,1736.0,91.7,13.251944,120.732091,11.573005,8.098277,0.000000,275.792808,143.051892,2.321351,-2.222187,0.0
455,10,2022-12-10,육성어,728.0,1.0,0.023,0.8,189.0,1990.0,92.4,13.574848,123.035831,11.287897,8.134891,0.000000,274.586019,137.716244,2.331463,-3.168661,0.0

In [38]:
group_target_data

    수조번호       time 생육상태       어류번호      길이(mm)        무게(g)
0      3 2022-08-12   치어  25.500000   75.820000     4.050000
1      3 2022-09-02   치어  25.125000   85.208333     6.391667
2      3 2022-09-23   치어  25.500000   99.000000     8.560000
3      3 2022-10-14   치어  25.500000  108.600000    16.380000
4      3 2022-11-04   치어  25.500000  110.400000    17.920000
5      3 2022-11-25   치어  40.846154  113.717949    17.038462
6      4 2022-08-12   치어  25.500000   74.740000     3.716000
7      4 2022-09-02   치어  25.500000   79.780000     5.352000
8      4 2022-09-23   치어  25.500000  100.500000     8.960000
9      4 2022-10-14   치어  25.500000  104.200000    14.940000
10     4 2022-11-04   치어  25.500000  104.900000    14.920000
11     4 2022-11-25   치어  43.476190  103.988095    14.047619
12     9 2022-08-12  육성어   5.500000  500.000000  2329.800000
13     9 2022-09-02  육성어   5.500000  494.000000  1491.800000
14     9 2022-09-23  육성어   5.500000  513.000000  1807.000000
15     9 2022-10-14  육성어   5.500000  564.000000          NaN
16     9 2022-11-11  육성어   8.000000  554.000000  2143.066667
17     9 2022-11-25  육성어   8.000000  575.000000  2516.266667
18    10 2022-08-12  육성어   5.500000  519.000000  1795.200000
19    10 2022-09-02  육성어   5.500000  510.000000  1560.000000
20    10 2022-09-23  육성어   5.500000  504.000000  1760.800000
21    10 2022-10-14  육성어   5.500000  572.000000          NaN
22    10 2022-11-11  육성어   8.000000  568.666667  2438.866667
23    10 2022-11-25  육성어   8.000000  587.666667  2810.400000

In [37]:
merged_df = pd.merge(merged_df, group_target_data, 
                     on=['time', '수조번호', '생육상태'], how='inner')
merged_df

,수조번호,time,생육상태,먹이공급량(g),암모니아성질소(ppm),아질산성질소(ppm),질산성질소(ppm),알칼리도(ppm),총세균수(Bac),총가스압(%),...,pH(),co2(mg/l),ORP(mV),Light(Lux),FLOW(L),Temp_air,폐사개체수(마리),어류번호,길이(mm),무게(g)
0,3,2022-09-02,치어,2560.0,0.0,0.0165,4.9,3.46,1831.0,96.5,...,6.978654,2.272896,196.680994,165.185880,3.889209,20.869156,6.0,25.125000,85.208333,6.391667
1,3,2022-09-23,치어,3200.0,2.0,0.1120,6.1,25.20,2484.0,90.3,...,6.817266,4.070213,196.867077,165.634850,3.567154,17.475274,12.0,25.500000,99.000000,8.560000
2,3,2022-10-14,치어,4070.0,1.0,0.4100,6.1,20.00,1606.0,82.5,...,6.545672,5.957501,197.421683,165.936739,2.785800,12.842392,3.0,25.500000,108.600000,16.380000
3,3,2022-11-04,치어,400.0,80.0,0.8010,2.9,52.40,5758.0,95.4,...,6.485880,2.946924,197.207288,164.289436,3.202609,4.895443,52.0,25.500000,110.400000,17.920000
4,3,2022-11-25,치어,NaN,7.0,0.8040,4.4,69.80,3481.0,NaN,...,83.936979,1.815885,196.780423,164.625871,2.686626,10.847934,0.0,40.846154,113.717949,17.038462
5,4,2022-09-02,치어,2560.0,3.0,0.1590,11.3,22.00,1519.0,87.5,...,6.894186,3.028712,179.018635,137.257904,4.142098,20.869156,3.0,25.500000,79.780000,5.352000
6,4,2022-09-23,치어,3200.0,1.0,0.1190,7.0,69.60,1809.0,95.1,...,7.664027,3.287265,199.979019,147.619217,4.109933,17.475274,21.0,25.500000,100.500000,8.960000
7,4,2022-10-14,치어,4070.0,1.0,0.4050,5.8,17.90,1075.0,93.3,...,6.616972,5.090004,202.145454,126.848119,3.317146,12.842392,3.0,25.500000,104.200000,14.940000
8,4,2022-11-04,치어,400.0,0.0,0.7950,2.9,21.60,5517.0,96.2,...,6.607110,1.476581,69.049354,123.087900,3.999624,4.895443,30.0,25.500000,104.900000,14.920000
9,4,2022-11-25,치어,NaN,7.0,0.8060,4.9,69.60,43649.0,NaN,...,7.668126,1.756363,47.357686,124.638258,3.056937,10.847934,0.0,43.476190,103.988095,14.047619
10,9,2022-09-02,육성어,0.0,0.0,0.0040,0.9,145.00,1221.0,80.7,...,7.926213,1.457719,352.847062,135.888173,2.522955,18.253203,0.0,5.500000,494.000000,1491.800000
11,9,2022-09-23,육성어,205.0,23.0,0.0060,1.0,154.00,10729.0,81.3,...,7.977139,1.818518,339.001500,134.770817,2.523143,16.031423,0.0,5.500000,513.000000,1807.000000
12,9,2022-10-14,육성어,0.0,0.0,0.0070,0.4,162.00,6240.0,84.8,...,7.810742,3.133670,346.594765,149.603160,2.523881,9.718791,0.0,5.500000,564.000000,NaN
13,9,2022-11-11,육성어,0.0,2.0,0.0080,0.9,167.00,1895.0,79.1,...,25.756588,0.911006,304.857121,149.789687,2.524136,7.096429,0.0,8.000000,554.000000,2143.066667
14,9,2022-11-25,육성어,0.0,0.0,0.0040,1.1,173.00,1289.0,88.6,...,21.232760,0.448109,270.873138,147.963429,2.524456,5.597835,0.0,8.000000,575.000000,2516.266667
15,10,2022-09-02,육성어,0.0,0.0,0.0000,1.6,156.00,1886.0,92.6,...,7.741934,0.211916,348.905906,144.279281,1.941693,18.253203,1.0,5.500000,510.000000,1560.000000
16,10,2022-09-23,육성어,280.0,0.0,0.0070,0.9,161.00,14382.0,91.2,...,7.786612,0.096829,339.934950,187.904069,1.969369,16.031423,0.0,5.500000,504.000000,1760.800000
17,10,2022-10-14,육성어,0.0,5.0,0.0040,0.0,162.00,6389.0,85.0,...,7.649033,4.489847,357.903559,152.201642,1.981782,9.718791,0.0,5.500000,572.000000,NaN
18,10,2022-11-11,육성어,0.0,0.0,0.0050,1.5,168.00,1677.0,83.8,...,8.018266,0.012855,374.732408,152.364366,2.049601,7.096429,0.0,8.000000,568.666667,2438.866667
19,10,2022-11-25,육성어,0.0,1.0,0.0000,1.4,173.00,1002.0,90.8,...,7.650058,0.054814,376.410780,145.698300,2.282061,5.597835,0.0,8.000000,587.666667,2810.400000

* 데이터 처리 결과 데이터의 양이 너무 적어서 학습을 할 수 없음